.SignupForm{
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 40px auto;
}

SignupForm input{
    margin-bottom: 30px;
}

.Header{

}

.Header_nav{
    display:flex;
    justify-content: right;
}
.Header_nav a{
    color: black;
    display: block;
    margin: 10px;
}